version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "09:00"
      timezone: "UTC"
    open-pull-requests-limit: 10
    assignees:
      - "dytsou"
    reviewers:
      - "dytsou"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"

